<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>item</title>
</head>
<body>

  <form method="post", action="/item/1">
    <input type="hidden", name="_method", value="put" />
    <input type="text" name="itemname" size="10" maxlength="10" />
    <br />
    <input type="submit" value="submit">
  </form>

</body>
</html>