<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>item</title>
</head>
<body>
  <form method="get", action="/item/1/edit">
    <table>
      <tr>
        <td>Item1</td>
      </tr>
    </table>
    <input type="submit" value="edit">
  </form>
</body>
</html>