<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>post item</title>
</head>
<body>
  <% articles.each do |article| %>
  <table>
    <tr>
      <td><a href="/articles/<%=article["id"] %>" target="_top"><%=article["title"] %></a></td>
    </tr>
  </table>
  <% end %>
</body>
</html>