<h2>ログイン</h2>
<form method="post", action="/login">
  <input type="text" name="user_id" size="10" maxlength="10" />
  <br />
  <br />
  <input type="password" name="password" size="10" maxlength="10" />
  <br />
  <br />
  <input type="submit" value="post">
</form>
